%h1= @page.title
!= @page.body
%p
%script{ type: "text/javascript", charset: "utf-8", src: "//api-maps.yandex.ru/services/constructor/1.0/js/?sid=Qkc4oUyA1L2XFDhbESyr3V2w3_Yr-7zz&width=600&height=450" }
= form_for :feedback, url: feedback_create_path do |f|
  %fieldset
    .control-group
      = f.label :name, t('feedback.name')
      .controls= f.text_field :name
    .control-group
      = f.label :email, t('feedback.email')
      .controls= f.text_field :email
    .control-group
      = f.label :body, t('feedback.body')
      .controls= f.text_area :body
    .form-actions
      = f.submit t('feedback.submit'), class: 'btn btn-primary'
