!!!
%html
  %head
    %title= seo_content(:title)
    %meta{ content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type' }
    %meta{ name: 'keywords', content: 'солнечные панели батареи Воронеж купить в Воронеже цена' }
    %meta{ name: 'description', content: 'Магазин по продаже солнечных батарей, солнечных панелей в Воронеже' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = include_gritter
    %link{ rel: 'shortcut icon', href: image_path('favicon.ico') }
    %link{ rel: 'icon', href: image_path('favicon.ico') }
    = csrf_meta_tags
  %body
    = gflash
    = gritter_flash_messages
    .container
      .raw
        .navbar
          .navbar-inner
            = link_to image_tag('logo.png'), root_path, id: 'logo'
            #slogans_block
              .first Свободная энергия
              .second Free energy
            #contacts_block
              .phone
                %span.prefix +7 (903)
                %span.number 656-91-33
              .phone
                %span.prefix +7 (906)
                %span.number 680-33-30
              .address г.Воронеж, ТЦ "Европа", 3 этаж, магазин "Землянка"
      .raw
        = render partial: 'shared/carousel', locals: { slides: @slides }
      .raw
        .span3
          = render '/shared/side_menu'
          #cart
            %h4 Ваша корзина: 
            = render partial: 'shared/cart_content', locals: { cart: @cart }
        .span1
        .span8
          = notice
          = alert
          #content= yield
      .clearfix
      #footer.raw
        = link_to 'Разработка и продвижение сайта - NikSan', 'http://niksan.ru', target: '_blank'
    = render 'shared/yandex_metrica'
